<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncCyberPlan_lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CAdxWebServiceXmlCCSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sage.sauro.dmn/soap-generic/syracuse/collaboration/syracuse/CAdxWebServiceXmlCC"
                binding="basicHttpBinding" bindingConfiguration="CAdxWebServiceXmlCCSoapBinding"
                contract="SageX3WS_old.CAdxWebServiceXmlCC" name="CAdxWebServiceXmlCC" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <SyncCyberPlan_lib.Properties.Settings>
            <setting name="SyncCyberPlan_lib_SageX3WS_CAdxWebServiceXmlCCService"
                serializeAs="String">
                <value>http://sage.sauro.dmn/soap-generic/syracuse/collaboration/syracuse/CAdxWebServiceXmlCC</value>
            </setting>
        </SyncCyberPlan_lib.Properties.Settings>
    </applicationSettings>
</configuration>